@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth;
}

.text-stock-light {
  -webkit-text-stroke: 0.2px rgb(224, 223, 223);
}

.text-stock-dark {
  color: transparent;
  -webkit-text-stroke: 1px rgb(5, 5, 5);
}
